
{{#if errorsMessages.length}}
<h3>Organisationer </h3>
<div class="row  g-4">
  <ul>
    {{#each errorsMessages}}
      <li>{{this}}</li>
    {{/each}}
  </ul>

{{else}}
  {{#if session.isOrganization}}
    <h3>{{account.Organization}} </h3>
    <div class="row  g-4">
      <div >
      {{#if account.isMin}}
      <a href="/auth/update/{{account.AccountId}}" id="apdate-account" class="btn btn-primary"><h5> Uppdatera</h5></a> 
      <a href="/place/create" class="btn btn-primary"><h5> Lägg till ett ställe</h5></a> 
      {{else}}
        {{#if session.isAdmin}}
          <a href="/auth/delete/{{account.AccountId}}" class="btn btn-primary"><h5> Ta bort</h5></a> 
          {{#if account.IsActive}}
            <a href="/auth/decactivate/{{account.AccountId}}" class="btn btn-primary"><h5> Avaktivera</h5></a> 
          {{else}}
            <a href="/auth/activate/{{account.AccountId}}" class="btn btn-primary"><h5> Aktivera</h5></a> 
          {{/if}}
        {{/if}}
      {{/if}}

      </div>
      <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-1 g-4">

          <div class="col">
            <div class="card mb-3 justify-content-md-center" >
              <div class="row g-0">
                <div class="col-md-4">
                  <a href="/auth/{{account.AccountId}}"><img id = "bli-medlem-image" src="/images/account.png" class="img-fluid" alt="Bli medlem image"></a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <ul>
                      <li><b>Organisation: </b>{{account.Organization}}</li>
                      <li><b>Namn: </b> {{account.FirstName}} {{account.LastName}}</li>
                      <li><b>Mail: </b><a href="mailto:{{account.Email}}">{{account.Email}}</a></li>
                      <li><b>Telefonnummer: </b>{{account.Phone}}</li>
                      <li><b>Ämnes tagg: </b><span class="badge text-dark tag">#{{account.TypeName}}</span></li>
                    </ul>
                  </div>
                </div>
                <div class="row g-4">
                    <h5>Verksamhets beskrivning: </h5>
                    <p>{{account.Description}}</p>
                    <h5>Tidigare projekt och intresse för samverkan:  </h5>
                    <p>{{account.Interest}}</p>
                </div>

              </div>
            </div>
          </div>

      </div>
    </div>
  {{/if}}
{{/if}}

<script>

    document.addEventListener("DOMContentLoaded", function () {
      async function loadHumanPage(){
        
        const response = await fetch("http://localhost:8080/api/ff")
        
        // TODO: Check status code and act accordingly!
        
        const human = await response.json()
        
      console.log(human)
        
      }
      const buttonActiveClassName = "active"
      const homeButton = document.querySelector("#apdate-account")
      homeButton.addEventListener("click",function(event){
        event.preventDefault()
        loadHumanPage()
      })




    })

</script>