

{{#if blog}}
<h3>{{blog.BlogTitle}} </h3>
<div class="row  g-4">
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-1 g-4">
    <div class="col">
      <div class="card border-info">
        <img src="{{blog.BlogImageAddress}}" class="card-img-top" alt="...">
        <div class="card-header  bg-success text-white bg-opacity-75">{{blog.BlogTitle}}</div>
        <div class="card-body">
          <h5 class="card-title"> </h5>
          <div class="row"><p class="text-sm-end fs-5"> Publicerat av: {{blog.Organization}}</p></div>
          <p>Blogg kategori: <span class="badge-Dark text-light tag">#{{blog.BlogTypeName}}</span></p>

            <div class="row">
             


              {{#each blog.paragraphs}}
               <p>
                {{this.Body}} <a href="{{this.Link}}" > {{this.LinkTitle}}</a>
              </p>
              {{/each}}
              
            </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row g-4 ">
              <div class="col col-md-9 col-sm-8">
                Publicerat: {{blog.BlogDateTime}}
              </div>
            </div>
            <form action="/blogs/comment" method="post" id="loginForm" class="row gy-2 gx-3 align-items-center">
              <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-4">
                <div class="card border-info">
                  <div class="card-body">
                    <div class="form-floating">
                      <input type="hidden" value="{{blog.BlogId}}" name="blogId">
                      <input type="hidden" value="{{accountId}}" name="accountId">
                      <textarea class="form-control" placeholder="Leave a comment here" id="answer-Textarea" name="comment"></textarea>
                      <label for="answer-Textarea">Skriv Kommentar!</label>
                    </div> 
                    <div class="card-footer bg-transparent border-success">
                      <div class="row g-4 ">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary"> <i class="bi bi-send"></i> Kommentera!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="row g-4">
<h4>Kommentarer</h4>
        {{#if blog.comments.length}}
          {{#each blog.comments}}
            <div class="card border-info">
              <div class="card-header row">
                <div class="col">
                  Kommentar
                </div >
                <div class="col text-sm-start">
                  publicerat: {{this.AnswerDateTime}}
                </div>
              </div>

              <div class="card-body">
                <div class="row"><p class="text-sm-end "> {{this.Answer}}  </p></div>
                <div class="row"><p class="text-sm-end "> OrganisationNamn: {{this.Organization}} </p></div>
                <small><a href="/" class="reply-link">reply</a></small>
              </div>

              <div id="replys-card" class="card hidden" aria-current="false">

                {{#if this.replies.length}}
                  {{#each replies}}
                    <div class="list-group">
                        <div class="d-flex w-100 justify-content-between">
                          <h6 class="mb-1"> <a href="/auth/{{this.AccountId}}">{{this.Organization}}</a> says :</h6>
                          <small>{{this.ReplyDateTime}}</small>
                        </div>
                        <p class="mb-1">{{this.ReplyText}}</p>
                    </div>
                  {{/each}}
                {{/if}}


                  <form action="/blogs/rebly" method="post" id="loginForm" class="row gy-2 gx-3 align-items-center">
                    <div class="card ">
                      <div class="card-body">
                        <div id="reply-form" class="form-floating">
                          <input type="hidden" value="{{../blog.BlogId}}" name="blogId">
                          <input type="hidden" value="{{this.AnswerId}}" name="answerId">
                          <input type="hidden" value="{{../accountId}}" name="accountId">
                          <textarea class="form-control" placeholder="Leave a comment here" id="reply-Textarea" name="reply"></textarea>
                          <label for="answer-Textarea">Skriv reply!</label>
                        </div> 
                        <div class="card-footer bg-transparent border-success">
                          <div class="row g-4 ">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary" id="reply-button"> <i class="bi bi-send"></i> reply!</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
              </div>
            </div>
          {{/each}}
        {{else}}
          <p>Inga kommentarer att visas</p>
        {{/if}}



      </div>
    </div>
  </div>
{{/if}}
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const cards = document.querySelectorAll("#replys-card")
        const className = "hidden"
        const links =document.querySelectorAll(".reply-link")
        const reblyButtons =document.querySelectorAll("#reply-button")

        for (const link of links) {
          link.addEventListener("click",function(e){
            e.preventDefault()

            for(const card of cards){
              if (!card.classList.contains(className)) {

                card.classList.add(className)
              }
            }
          link.parentElement.parentElement.nextElementSibling.classList.remove(className)

        })

        }

        for (const button of reblyButtons) {
          button.addEventListener("click",function(e){
            e.preventDefault()
            const form = button.parentElement.parentElement.parentElement.parentElement.
            parentElement.parentElement
            const formInfo = form.firstElementChild.firstElementChild.firstElementChild

            const blogId = formInfo.firstElementChild
            const answerId = blogId.nextElementSibling
            const accountId = answerId.nextElementSibling
            const reply = accountId.nextElementSibling
            
            async function postReplay(){
	
              const response = await fetch("http://localhost:8080/api/reply",{
                method: "POST",
                headers: {"Content-Type": "application/json"},
                body: JSON.stringify(
                  {answerId:answerId.value,
                  accountId:answerId.value,
                  reply:reply.value
                  })
              }).then (function(response){

                  return response.json()
                
                  .then(function(reply){
                    const replyCard = form.parentElement
                    const lastReply = document.createElement("div")
                    lastReply.classList.add("list-group")
                    let current_datetime =new Date().now()
                    let formatted_date = current_datetime.getFullYear() + "-" + 
                    (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate() + 
                    " " + current_datetime.getHours() + ":" + current_datetime.getMinutes() + ":" +
                     current_datetime.getSeconds() 

                    lastReply.innerHTML = `
                        <div class="d-flex w-100 justify-content-between">
                          <h6 class="mb-1"> <a href="/auth/`+reply.accountId+`">Me</a> says :</h6>
                          <small>`+formatted_date+`</small>
                        </div>
                        <p class="mb-1">`+reply.reply+`</p>
                    `
                    replyCard.firstElementChild.appendChild(lastReply)
                  })
                  
                }).catch (function(error){

                })
              }

              postReplay()
            


        })

        }


    })

</script>