<h3>Forums inlägg </h3>
<div class="row  g-4">
  <div ><a href="/forum/create" class="btn btn-primary"><h5> Skriv forums inlägg!</h5></a> </div>
{{#if posts.length}}
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 g-4">
  {{#each posts}}
    <div class="col">
      <div class="card border-info">
        <div class="card-header">{{this.Title}}</div>
        <div class="card-body">
          <h5 class="card-title"> </h5>
          <div class="row"><p class="text-sm-end fs-5"> Publicerat av: {{this.Organization}}</p></div>
            <div class="row">
              <p>
                Ämnes taggar: 
              {{#each this.tags}}
                <span class="badge text-dark tag">#{{this.TagName}}</span>

              {{/each}}
              </p>

            </div>
            <div class="card-footer bg-transparent border-success">
              <div class="row g-5 ">
                <div class="col col-md-9 col-sm-8">
                  Publicerat: {{this.PostDateTime}}
                </div>
                <div class="col text-sm-start col-md-3 col-sm-4 ">
                  <a href="/forum/{{this.Id}}" >Läs mer</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{/if}}
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const buttons = document.querySelectorAll(".nav-link")
        const buttonActiveClassName = "active"
        const homeButtons = document.querySelectorAll("#forum-link")
        for (const button of homeButtons) {
            if (!button.classList.contains(buttonActiveClassName)) {

                button.classList.add(buttonActiveClassName)
            }
        }



    })

</script>