<h3>Forums inlägg </h3>
<div class="row  g-4">

{{#if post}}
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 g-4">
    <div class="col">
      <div class="card border-info">
        <div class="card-header  bg-success text-white bg-opacity-75">{{post.Title}}</div>
        <div class="card-body">
          <h5 class="card-title"> </h5>
          <div class="row"><p class="text-sm-end fs-5"> Publicerat av: {{post.Organization}}</p></div>
            <div class="row">
              <p>{{post.Body}}</p>
              <p>
                Ämnes taggar: 

              {{#each post.tags}}
                <span class="badge text-dark tag">#{{this.TagName}}</span>

              {{/each}}
              </p>
            </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row g-4 ">
              <div class="col col-md-9 col-sm-8">
                Publicerat: {{post.PostDateTime}}
              </div>
              <div class="col col-md-3 col-sm-4 text-sm-start ">
                <a href="/" >Svar</a>
              </div>
            </div>
            <form action="/forum/answer" method="post" id="loginForm" class="row gy-2 gx-3 align-items-center">
              <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-4">
                <div class="card border-info">
                  <div class="card-body">
                    <div class="form-floating">
                      <input type="hidden" value="{{post.Id}}" name="postId">
                      <input type="hidden" value="{{accountId}}" name="accountId">
                      <textarea class="form-control" placeholder="Leave a comment here" id="answer-Textarea" name="answer"></textarea>
                      <label for="answer-Textarea">Skriv Svar!</label>
                    </div> 
                    <div class="card-footer bg-transparent border-success">
                      <div class="row g-4 ">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary"> <i class="bi bi-send"></i> Svar!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
    <div class="col">
      <div class="row g-4">

        {{#each post.answers}}
          <div class="card border-info">
            <div class="card-header row">
              <div class="col">
                Svar
              </div >
              <div class="col text-sm-start">
                publicerat: {{this.AnswerDateTime}}
              </div>
            </div>
            <div class="card-body">
              <div class="row"><p class="text-sm-end "> {{this.Answer}}  </p></div>
              <div class="row"><p class="text-sm-end "> OrganisationNamn: {{this.Organization}} </p></div>
            </div>
          </div>
        {{/each}}

      </div>
    </div>
  </div>
{{/if}}
</div>
