<h3>Forums inlägg </h3>
<div class="row  g-4">
{{#if errorsMessages.length}}
  <ul>
    {{#each errorsMessages}}
      <div id="error-messages">
        <li>{{this}}</li>  
      </div>
    {{/each}}
  </ul>
{{/if}}
{{#if post}}
  <div class="row row-cols-1 row-cols-sm-1 row-cols-lg-2 g-4">
    <div class="col">
      <div class="card border-info">
        <div class="card-header  bg-success text-white bg-opacity-75">{{post.Title}}</div>
        <div class="card-body">
          <h5 class="card-title"> </h5>
          <div class="row"><p class="text-sm-end fs-5"> Publicerat av: {{post.Organization}}</p></div>
            <div class="row">
              <p>{{post.Body}}</p>
              <p>
                Ämnes taggar: 

              {{#each post.tags}}
                <span class="badge text-dark tag">#{{this.TagName}}</span>

              {{/each}}
              </p>
            </div>
          <div class="card-footer bg-transparent border-success">
            <div class="row g-4 ">
              <div class="col col-md-9 col-sm-8">
                Publicerat: {{post.PostDateTime}}
              </div>
              <div class="col col-md-3 col-sm-4 text-sm-start ">
                <a href="/" >Svar</a>
              </div>
            </div>
            <form action="/forum/answer" method="post" id="loginForm" class="row gy-2 gx-3 align-items-center">
              <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-4">
                <div class="card border-info">
                  <div class="card-body">
                    <div class="form-floating">
                      <input type="hidden" value="{{post.Id}}" name="postId">
                      <input type="hidden" value="{{accountId}}" name="accountId">
                      <textarea class="form-control" placeholder="Leave a comment here" id="answer-Textarea" name="answer"></textarea>
                      <label for="answer-Textarea">Skriv Svar!</label>
                    </div> 
                    <div class="card-footer bg-transparent border-success">
                      <div class="row g-4 ">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary"> <i class="bi bi-send"></i> Svar!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>


    </div>
    <div class="col">
      <div class="row g-4">


        {{#each post.answers}}
          <div class="card border-info">
            <div class="card-header row">
              <div class="col">
                Svar
              </div >
              <div class="col text-sm-start">
                publicerat: {{this.AnswerDateTime}}
              </div>
            </div>
            <div class="card-body">
              <div class="row"><p class="text-sm-end "> {{this.Answer}}  </p></div>
              <div class="row"><p class="text-sm-end "> OrganisationNamn: {{this.Organization}} </p></div>
              <small><a href="/" class="reply-link">reply</a></small>
              <input type="hidden" value="{{this.AnswerId}}">

            </div>

            <div id="replys-card" class="card hidden">
              <div class="card">

                
              </div>

              <form action="/forum/answer" method="post" id="loginForm" class="row gy-2 gx-3 align-items-center">
                <div class="card ">
                  <div class="card-body">
                    <div class="form-floating">
                      <input type="hidden" value="{{this.AnswerId}}" name="answerId">
                      <input type="hidden" value="{{../accountId}}" name="accountId">
                      <textarea class="form-control" placeholder="Leave a reply here" id="reply-Textarea" name="reply"></textarea>
                      <label for="answer-Textarea">Skriv reply!</label>
                    </div> 
                    <div class="card-footer bg-transparent border-success">
                      <div class="row g-4 ">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary" id="reply-button"> <i class="bi bi-send"></i> reply!</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </form> 


            </div>
           
          </div>
        {{/each}}


      </div>
    </div>
  </div>
{{/if}}
</div>

<script>

  document.addEventListener("DOMContentLoaded", function () {
    const cards = document.querySelectorAll("#replys-card")
    const className = "hidden"
    const links =document.querySelectorAll(".reply-link")
    const replyButtons =document.querySelectorAll("#reply-button")
    const classNameIsClicked= "clicked"

    function hideAllReplies(){
      for(const card of cards){
        if (!card.classList.contains(className)) {

          card.classList.add(className)
        }
      }
    }
    
    for (const link of links) {
      link.addEventListener("click",function(e){
        e.preventDefault()
        hideAllReplies()
        const answerId = link.parentElement.nextElementSibling.value

        link.parentElement.parentElement.nextElementSibling.classList.remove(className)

        async function getAnswerReplies(){

          const response = await fetch("http://localhost:8080/api/answer/reply/"+answerId)

          const replies = await response.json()
          
          const replyCard = link.parentElement.parentElement.nextElementSibling.firstElementChild
          for(reply of replies){
            const newReply = document.createElement("div")
            newReply.classList.add("list-group")
            newReply.innerHTML = `
                <div class="d-flex w-100 justify-content-between">
                  <h6 class="mb-1"> <a href="/auth/`+reply.AccountId+`">`+reply.Organization +`</a> says :</h6>
                  <small>`+reply.ReplyDateTime+`</small>
                </div>
                <p class="mb-1">`+reply.ReplyText+`</p>`
                replyCard.prepend(newReply)  
          }

              //replyCard.firstElementChild.appendChild(lastReply)
              //replyCard.firstElementChild.prepend(lastReply)     

        }
        
        if(!link.classList.contains(classNameIsClicked)){
          getAnswerReplies()
          link.classList.add(classNameIsClicked)

        }

      })

    }

    for (const button of replyButtons) {
      button.addEventListener("click",function(e){
        e.preventDefault()
        const form = button.parentElement.parentElement.parentElement.parentElement.
        parentElement.parentElement
        const formInfo = form.firstElementChild.firstElementChild.firstElementChild

        const answerId = formInfo.firstElementChild
        const accountId = answerId.nextElementSibling
        const reply = accountId.nextElementSibling
    
        async function postReplay(){
          const response = await fetch("http://localhost:8080/api/reply",{
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(
              {answerId:answerId.value,
              accountId:accountId.value,
              reply:reply.value
              })
          }).then (function(response){

            return response.json()
          
            .then(function(result){

              const replyCard = form.parentElement
              const lastReply = document.createElement("div")
              lastReply.classList.add("list-group")
              let current_datetime =new Date()
              let formatted_date = current_datetime.getFullYear() + "-" + 
              (current_datetime.getMonth() + 1) + "-" + current_datetime.getDate() + 
              " " + current_datetime.getHours() + ":" + current_datetime.getMinutes() + ":" +
                current_datetime.getSeconds() 

              lastReply.innerHTML = `
                  <div class="d-flex w-100 justify-content-between">
                    <h6 class="mb-1"> <a href="/auth/`+result.accountId+`">Me</a> says :</h6>
                    <small>`+formatted_date+`</small>
                  </div>
                  <p class="mb-1">`+result.reply+`</p>
              `              
              replyCard.firstElementChild.appendChild(lastReply)
              reply.value=""

            })
            
          }).catch (function(error){

          })

        }
        
          postReplay()
      })

    }
  })

</script>